.heading{
    width: 100%;
    font-size: 23px;
    margin: 0px;
    }
    body{
     background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
    }
    #status,#object_found{
        font-size: 18px;
    }
    canvas{
        border-radius: 10px;
        border-radius: 2px solid white;
        box-shadow: 5px 5px 5px white;
        margin-top: 30px;
    }